* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

img {
    height: 400px;
}

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#heart {
    color: white;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
    transition: all ease 0.4s;
}
